.main{
    background-color: white;
    
}
.col4{
   border:  2px solid  #B7C3D7 ;
   width: 200px;
  height: 250px ;
      background-color:  #FFFFFF;
      margin: 40px;
       border-radius: 10px; 
}
.col4:hover{
    background-color: rgb(111, 207, 236);
}

.h4{
    margin-top: 100px;
    color: #001126;
}
.h6{
    color: #929292;
}
.h1{
    margin: 40px;
    color: #001126;
}
.h5{
    margin: 10px;
    
}
.container{
    height: 600px;
}
.toggle{
    background-color: #D1D3DE;
    border-radius: 10px;
    padding-left: 80px;
}