
.container{
    margin-top: 40px;
    height: 600px;
}
.formgroup{
    margin: 40px;

}
.h1{
    margin-left: 100px;
    color: 
    #04285A;
}
.exampleInput{
   font-size: 40px;
   margin-bottom: 5px;
   color: #04285A;
}
