.main{
    height: 597px ;
    background-color: white ;
    border-radius: 20px;
    margin-top: 40px;
}
.cardBody{
    padding-left: 40px;
    margin: 10px;
    color: #04285A;
    font-size: 30px;
}
.hr{
    background-color: #B7C3D7;
    border: 2px solid black
}