.sidebar{
    width: 345px;
      height: 750px;
       background-color:#5852ca;
        margin: 10px;
         margin-left: 20px;
          border-radius: 15px;
}
.btn{
    display:block;
     height: 50px;
     width: 50px;
      border-radius: 50%;
       border: 2px solid rgb(94, 201, 186);
       background-color: rgb(0, 0, 0);
       
}

.h6{
    color: #FFFFFF75;
}

.h5{
    color: white;
}
.mains{
    margin-top: 50px;
}
.first{
    display: flex;
    margin-top: 60px;
}
.second{
    background-color: rgb(0, 255, 255);
}